.leaflet-touch .leaflet-control-layers-control, .leaflet-control-layers-control{
  z-index: 2200;
  
  a.leaflet-control-layers-control-button{
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;

    i{
      font-size: 15px;
    }
  }

  div.layers-control-panel{ display: none; }
  
  .open{
    a.leaflet-control-layers-control-button{
      display: none;
    }

    div.layers-control-panel{
      display: block;
    }
  }
}
